* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* line-height: 28.8px */
  line-height: 1.8em;
}

header {
  /* fallback bg */
  background-color: #ccc;
  background-image: url(img/image.jpg);
  background-size: cover;
  background-position: center;
  /* 100% dari tinggi viewport yang dilihat */
  height: 100vh;
  display: flex;
}

h1 {
  /* font-size: 64px */
  /* 
  font-size: 4rem; 
  */

  /* 4% dari lebar viewport. semakin lebar viewport, maka ukuran font semakin besar. semakin kecil viewport, ukuran font semakin kecil. minusnya, ketika di mobile ukuran font sangat kecil */
  /*
  font-size: 4vw; 
  */

  /* 4% dari dimensi maksimal viewport */
  font-size: 4vmax;

  /* line-height: 76.8px */
  line-height: 1.2em;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, .8);
  text-align: center;
  margin: auto;
}

section {
  margin: 30px auto;
  width: 80%;
}

section .detail {
  /* font-size: 22.4px */
  font-size: 1.4rem;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* padding: 11.2px 0 */
  padding: .5em 0;
  margin-bottom: 2em;
  color: #333;
}

section p {
  /* font-size: 19.2px */
  font-size: 1.2em;
  /* margin-bottom: 19.2px */
  margin-bottom: 1em;
  /* text-indent: 19.2px */
  text-indent: 1em;
}